<texteara cosy-id="{{id}}" cosy-type="textarea" {{attributes}} data-on-keyup="view:keyup" cosy-enter="{{on.enter}}" type="text" data-value="model.value" placeholder="{{watermark}}">
    {{value}}
</texteara>