<div class="cosy-collapse accordion">
  <div class="accordion-group">
  	{{#each items}}
  		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
  				{{name}}
	  		</a>
		</div>
		<div id="collapseOne" class="accordion-body collapse" style="height: 0px;">
			<div class="accordion-inner">
				{{content}}
			</div>
		</div>
  	{{/each}}
</div>