doctype 5
html
  head
    title
    link(href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
  body
    div.container
        |<%=content%>
    script
        window.__c_conf = <%= conf %>;
        window.__c_scripts = <%= scripts %>;
    script(src="http://code.jquery.com/jquery-2.0.0.js")
    script(src="/c.js")